workflows/Googlecalendar/Healthcare Appointment Booking System.json
{
  "name": "Healthcare Appointment Booking System",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Healthcare Appointment Booking",
        "formDescription": "Please fill out the form below to schedule your appointment",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Full Name",
              "fieldName": "fullName",
              "requiredField": true
            },
            {
              "fieldLabel": "Email Address",
              "fieldType": "email",
              "fieldName": "emailAddress",
              "requiredField": true
            },
            {
              "fieldLabel": "Phone Number",
              "fieldName": "phoneNumber",
              "requiredField": true
            },
            {
              "fieldLabel": "Appointment Type",
              "fieldType": "dropdown",
              "fieldName": "appointmentType",
              "fieldOptions": {
                "values": [
                  {
                    "option": "General Checkup"
                  },
                  {
                    "option": "Consultation"
                  },
                  {
                    "option": "Follow-up"
                  },
                  {
                    "option": "Specialist Visit"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Preferred Date",
              "fieldType": "date",
              "fieldName": "preferredDate",
              "requiredField": true
            },
            {
              "fieldLabel": "Preferred Time",
              "fieldName": "preferredTime",
              "placeholder": "09:00 AM",
              "requiredField": true
            },
            {
              "fieldLabel": "Reason for Visit",
              "fieldType": "textarea",
              "fieldName": "reasonForVisit",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "respondWithOptions": {
            "values": {
              "formSubmittedText": "Processing your appointment request..."
            }
          }
        }
      },
      "id": "0c91c757-397a-411a-91f4-7867777f0581",
      "name": "Appointment Booking Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1392,
        80
      ],
      "webhookId": "344df48d-1fdf-49f3-ab75-bace40591624"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "calendarId",
              "value": "primary",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "appointmentDuration",
              "value": 60,
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "timezone",
              "value": "America/New_York",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "77b1ac18-8fcb-466a-83b6-fdd82b28450c",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        80
      ]
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "<__PLACEHOLDER_VALUE__Data Table Name__>",
        "options": {}
      },
      "id": "a7bbc8b1-35ef-41c1-8565-0d7319e35d2b",
      "name": "Store Appointment Data",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -944,
        80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "patientName",
              "value": "={{ $('Appointment Booking Form').item.json['Full Name'] }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "patientEmail",
              "value": "={{ $('Appointment Booking Form').item.json['Email Address'] }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "patientPhone",
              "value": "={{ $('Appointment Booking Form').item.json['Phone Number'] }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "appointmentType",
              "value": "={{ $('Appointment Booking Form').item.json['Appointment Type'] }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "appointmentDate",
              "value": "={{ $('Appointment Booking Form').item.json['Preferred Date'] }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "appointmentTime",
              "value": "={{ $('Appointment Booking Form').item.json['Preferred Time'] }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "reasonForVisit",
              "value": "={{ $('Appointment Booking Form').item.json['Reason for Visit'] }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "startDateTime",
              "value": "={{ $('Appointment Booking Form').item.json['Preferred Date'] + 'T' + $('Appointment Booking Form').item.json['Preferred Time'] }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "endDateTime",
              "value": "={{ DateTime.fromISO($('Appointment Booking Form').item.json['Preferred Date'] + 'T' + $('Appointment Booking Form').item.json['Preferred Time']).plus({ minutes: $('Workflow Configuration').item.json.appointmentDuration }).toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dd0c7a36-c3e2-489c-8bb2-a433ca0f56ae",
      "name": "Format Calendar Event Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        80
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').item.json.calendarId }}"
        },
        "timeMin": "={{ $('Format Calendar Event Data').item.json.startDateTime }}",
        "timeMax": "={{ $('Format Calendar Event Data').item.json.endDateTime }}",
        "options": {
          "timezone": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $('Workflow Configuration').item.json.timezone }}"
          }
        }
      },
      "id": "f09fdeb2-403d-4646-a31c-917d39f695a3",
      "name": "Check Calendar Availability",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -496,
        80
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.available }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "751332c2-00df-4aac-b44c-5a84d3c648fd",
      "name": "Is Time Slot Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        80
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Workflow Configuration').item.json.calendarId }}"
        },
        "start": "={{ $('Format Calendar Event Data').item.json.startDateTime }}",
        "end": "={{ $('Format Calendar Event Data').item.json.endDateTime }}",
        "additionalFields": {
          "description": "={{ 'Patient: ' + $('Format Calendar Event Data').item.json.patientName + '\\nPhone: ' + $('Format Calendar Event Data').item.json.patientPhone + '\\nEmail: ' + $('Format Calendar Event Data').item.json.patientEmail + '\\nReason: ' + $('Format Calendar Event Data').item.json.reasonForVisit }}",
          "summary": "={{ $('Format Calendar Event Data').item.json.appointmentType + ' - ' + $('Format Calendar Event Data').item.json.patientName }}"
        }
      },
      "id": "d8dd38dc-44dc-4463-aa40-023b8950e516",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -48,
        -16
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Format Calendar Event Data').item.json.patientEmail }}",
        "subject": "Appointment Confirmed - Healthcare Booking",
        "message": "={{ '<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;line-height:1.6;color:#333;max-width:600px;margin:0 auto;padding:20px}.header{background:#0ea5e9;color:white;padding:20px;border-radius:8px 8px 0 0}.content{background:#f9fafb;padding:30px;border-radius:0 0 8px 8px}.info-box{background:white;padding:20px;margin:20px 0;border-left:4px solid #0ea5e9;border-radius:4px}.footer{text-align:center;margin-top:30px;font-size:12px;color:#666}</style></head><body><div class=\"header\"><h1 style=\"margin:0\">Appointment Confirmed</h1></div><div class=\"content\"><p>Dear <strong>' + $('Format Calendar Event Data').item.json.patientName + '</strong>,</p><p>Your appointment has been successfully scheduled!</p><div class=\"info-box\"><h3 style=\"margin-top:0;color:#0ea5e9\">Appointment Details</h3><p><strong>Type:</strong> ' + $('Format Calendar Event Data').item.json.appointmentType + '</p><p><strong>Date:</strong> ' + $('Format Calendar Event Data').item.json.appointmentDate + '</p><p><strong>Time:</strong> ' + $('Format Calendar Event Data').item.json.appointmentTime + '</p><p><strong>Duration:</strong> ' + $('Workflow Configuration').item.json.appointmentDuration + ' minutes</p><p><strong>Reason:</strong> ' + $('Format Calendar Event Data').item.json.reasonForVisit + '</p></div><p>If you need to reschedule or cancel, please contact us at least 24 hours in advance.</p><div class=\"footer\"><p>Thank you for choosing our healthcare services.</p></div></div></body></html>' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "da09f659-4899-4140-9f7e-ce0b1d206ab1",
      "name": "Send Confirmation Email to Patient",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        176,
        -16
      ],
      "webhookId": "a5006c5b-014a-434f-986a-fe571765363f"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Format Calendar Event Data').item.json.patientEmail }}",
        "subject": "Appointment Time Unavailable - Please Choose Another Time",
        "message": "={{ '<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;line-height:1.6;color:#333;max-width:600px;margin:0 auto;padding:20px}.header{background:#ef4444;color:white;padding:20px;border-radius:8px 8px 0 0}.content{background:#f9fafb;padding:30px;border-radius:0 0 8px 8px}.info-box{background:white;padding:20px;margin:20px 0;border-left:4px solid #ef4444;border-radius:4px}.footer{text-align:center;margin-top:30px;font-size:12px;color:#666}</style></head><body><div class=\"header\"><h1 style=\"margin:0\">Time Slot Unavailable</h1></div><div class=\"content\"><p>Dear <strong>' + $('Format Calendar Event Data').item.json.patientName + '</strong>,</p><p>Unfortunately, the time slot you requested is no longer available.</p><div class=\"info-box\"><h3 style=\"margin-top:0;color:#ef4444\">Requested Appointment</h3><p><strong>Type:</strong> ' + $('Format Calendar Event Data').item.json.appointmentType + '</p><p><strong>Date:</strong> ' + $('Format Calendar Event Data').item.json.appointmentDate + '</p><p><strong>Time:</strong> ' + $('Format Calendar Event Data').item.json.appointmentTime + '</p></div><p>Please visit our booking page again to select an alternative time slot that works for you.</p><p>We apologize for any inconvenience and look forward to serving you.</p><div class=\"footer\"><p>Thank you for your understanding.</p></div></div></body></html>' }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "1df2c050-1d20-4735-9d27-1e7bd4210b81",
      "name": "Send Unavailable Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -48,
        176
      ],
      "webhookId": "da54d851-930b-4cc0-a3bf-91897fb179b7"
    }
  ],
  "pinData": {},
  "connections": {
    "Appointment Booking Form": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Store Appointment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Appointment Data": {
      "main": [
        [
          {
            "node": "Format Calendar Event Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Calendar Event Data": {
      "main": [
        [
          {
            "node": "Check Calendar Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability": {
      "main": [
        [
          {
            "node": "Is Time Slot Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Time Slot Available?": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Unavailable Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Send Confirmation Email to Patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0ef01c8e-faa4-4460-9903-67e5fbf29c5c",
  "meta": {
    "instanceId": "d4af5fd6c04c28c323527eb99246861236423b506c6b6a16de9e3c3f38f17e00"
  },
  "id": "1pT73jyiDHHrp-Lmb3eIi",
  "tags": []
}